[2018-10-02 21:46] vanaukenk opened #1 "Highlight matched search strings in table"
From 2018-10-02 call @tmushayahama

Suggestion from today's call is to highlight in the table the matched search string, e.g. PMID:28114319
or 'receptor recyling' (GO:0001881), so that it is easier for the curator to visually locate the matches to the search.

[2018-10-02 21:56] vanaukenk commented on #1
@tmushayahama
I don't yet have permission to assign or label tickets in this tracker, but this would be an enhancement.
Thx.

[2018-10-11 21:14] vanaukenk opened #2 "Search must cover all aspects of GO - MF, BP, and CC"
The search for MF works fine, but I'm unable to search for a BP or CC term.

[2018-10-11 21:18] vanaukenk opened #3 "Sort curator list alphabetically"
Ideally, any long list would work as an autocomplete, but if we can't autocomplete the list of curators, the next best thing would be to have an alphabetically sorted list so people can find themselves (or someone else) easily.

I think sorting by first name would be fine as it's a natural way for people to start looking.

[2018-10-11 21:24] vanaukenk opened #4 "Clear button in search box not working"
The Clear button in the search box does not seem to be working to clear any value.

It just seems to restore the generic label, e.g. Go Term, when the field is empty.

[2018-10-11 21:26] vanaukenk opened #5 "Show entity accessions/identifiers in table"
Right now, I only see the beginning of an (http:identifier...) URL but we will want to show the entity accession/identifier so curators can be sure of what they're viewing.

[2018-10-11 21:28] vanaukenk opened #6 "Display annotated entity in editing box"
When I select a line in the table to edit, the resulting editing box doesn't display anything in the annotated entity field.

[2019-02-01 21:15] vanaukenk opened #7 "GO term search should close over is_a and part_of"
From demo at Berkeley meeting - 2019-02-01

[2019-02-01 22:16] vanaukenk opened #8 "Wrap text in each box to show all information"
From Berkeley meeting 2019-02-01:

Rather than cut off text in each field, wrap text to show the whole entry, e.g. GO term label or With/From column.

[2019-02-01 22:21] vanaukenk opened #9 "Add pagination for finding search matches on the results list"
In addition to highlighting the matched annotation (see #1 ) it would be useful to be able to scroll through the matching annotations using forward/reverse buttons at the top of the results table.

[2019-05-06 14:57] vanaukenk opened #10 "GO term search needs to clearly show term name"
When searching on GO terms, users will need to be able to clearly see the term name so they know they're selecting the right GO term.

IDs should also be shown, for confirmation, but the term name should be clearly visible.

This is what I currently see in testing on noctua-dev:

![image](https://user-images.githubusercontent.com/1730534/57233566-e0715700-6fec-11e9-8d20-25cdecd2bcb9.png)

Also, as

[2019-05-06 15:16] vanaukenk opened #11 "Minor fix: Go term -> GO term"
This should be a quick, minor fix.

The text in the GO term search box, should say GO term instead of Go term.

It might be worth checking across other workbenches code to make sure this is also uniform.

[2019-05-06 15:19] vanaukenk opened #12 "Searches must search over development as well as production models"
Creating a ticket for this even though the actual initial work for this is being done elsewhere.

It would be helpful to at least link to tickets in other trackers (minerva?) for reference.

[2019-05-07 22:57] tmushayahama commented on #10
@vanaukenk  this is what the NoctuaForm and the autocomplete looks like. Most imporoves is the wrapping text and not words are cut.

 ![image](https://user-images.githubusercontent.com/2273929/57337773-96b56900-70df-11e9-8144-8a7725683ff4.png)

But the most helpful is to roughly wireframe draw what feel and look you would like for all the autocomplete components. This Super Autocomplete Widget wil

[2019-05-08 05:06] pgaudet commented on #10
Did you check the layout on different browsers (ie Chrome and Firefox?)

[2019-05-08 06:25] tmushayahama commented on #10
@pgaudet oh I haven't updated the workbench on the noctua-dev. This is the one still on the working. Can you take a screenshot of one in P2GO. I just had a glimpse of it.

[2019-05-09 14:35] vanaukenk commented on #10
@tmushayahama

Here is a mockup of what would be nice for the GO term autocomplete display in the workbenches:

https://docs.google.com/presentation/d/1h3NB4cC_cLRojw3pxRuEgfC1e010FW6IGE6nqwuVYpA

The Gene Ontology icon could be a linkout to AmiGO for more term info.

What do you think?

[2019-05-28 14:37] vanaukenk opened #13 "Display model state in search results"
It would be helpful for curators to know, when they're searching for models, what the model state is, e.g. state=production, state=development, etc.

Can this be displayed as metadata in the line for each model in the search results?

Note that this information is available on the current landing page.

Thx.

[2019-05-28 14:45] vanaukenk commented on #11
Fixed on noctua-dev

[2019-05-28 14:45] #11 closed

[2019-05-28 16:38] vanaukenk commented on #4
@tmushayahama - revisiting this ticket.

The clear button now clears the search inputs, but also closes the search box, so the user has to click on the search icon again to start a new search.

It would be better if 'Clear' just cleared the inputs in the search box(es) but left the search window open.

Thx.

[2019-05-28 16:47] vanaukenk opened #14 "Models showing redundant annotations, unwanted inferences in table view"
The table view is showing redundant information for models, as well as relations and inferences that we don't want to see.

For this very basic model:

![image](https://user-images.githubusercontent.com/1730534/58495802-62fdba00-8146-11e9-8bd3-15c03385cb94.png)

This is the table view in the ART:

![image](https://user-images.githubusercontent.com/1730534/58495849-84f73c80-8146-11e9-9f40-55ae44d00

[2019-05-28 16:54] vanaukenk commented on #4
Ideally, it would be possible to either clear all or clear one or more input boxes individually.

[2019-05-29 14:01] vanaukenk commented on #14
As visible in the screenshot above, this seems to be happening when the search is performed with Contributor, but also happens with any field other than GO term.

For all searches, though, the annotation information is duplicated in the resulting table.  Here's an example with a GO term search:

![image](https://user-images.githubusercontent.com/1730534/58563193-ab75b000-81f8-11e9-855d-37dc446b968

[2019-05-29 21:56] tmushayahama commented on #7
@vanaukenk this was fixed by combining is_a of MF, BP and CC

[2019-05-29 21:59] tmushayahama commented on #2
@vanaukenk now this is working. Is it a duplicate of https://github.com/geneontology/noctua-annotation-review/issues/7 or different

[2019-05-30 17:22] tmushayahama commented on #13
Search results now showing model state

[2019-05-30 17:23] tmushayahama commented on #12
This now work for dev server models

[2019-05-30 17:25] tmushayahama commented on #10
This has been fixed

[2019-05-30 23:12] vanaukenk commented on #13
Thanks @tmushayahama
I can see models that have 4/5 possible states (delete, development, production, review) with none returned for closed (as expected).
The number of models returned doesn't always match what I see on noctua.geneontology.org, though.
For example, on noctua.geneontology.org, I can see eight models that have state=review, but when I filter for state=review I get six models.
Is thi

[2019-05-30 23:23] vanaukenk commented on #4
@tmushayahama
I'm trying to test this, but it seems that now after I've selected a search term and click on 'Search' the search term is cleared from the box, so I can no longer see what I'm searching on and then test if clicking on 'Clear' removes it from the box.
Clicking on 'Clear' does still keep the search widget open, though, so that is now working as expected.

[2019-05-30 23:43] vanaukenk opened #15 "PMID search returns correct model but doesn't show the PMID in the table"
I tested searching for PMID:12186849.

The search returns four correct models, but when I open the last model in the list 'C. elegans PDI-2 pathway', I don't see that PMID listed as evidence for any of the annotations.

The other three models do show that PMID listed in the table.

[2019-05-31 00:04] vanaukenk opened #16 "Display number of matching models after search and/or filter"
@tmushayahama
Would it be possible to display the number of matching models after search and/or filtering?

[2019-05-31 00:06] vanaukenk commented on #12
I can definitely retrieve models with different states, so this seems to be working fine.  I still need to double-check precision and recall, though, if possible.

[2019-05-31 00:12] vanaukenk commented on #2
Yes, this is working now; thanks.
This issue isn't a duplicate of #7 , so I think we can close this one.

[2019-05-31 00:12] #2 closed

[2019-05-31 00:19] vanaukenk commented on #8
This looks to be fixed.  Thanks!

[2019-05-31 00:19] #8 closed

[2019-05-31 16:28] tmushayahama commented on #15
PMID:12186849 is there in the [model](http://noctua-dev.berkeleybop.org//editor/graph/gomodel:5b528b1100000374?#),

below is a quick way I found out from the row data
![image](https://user-images.githubusercontent.com/2273929/58718138-bc9df880-8381-11e9-897c-d54596879975.png)

Now as to why, these are the potentials. will debug soon

- The model has an error (2 part ofs), so one of them was read
-

[2019-05-31 16:40] tmushayahama commented on #15
Found the error

If you open the model in graph editor, this is where the PMID:12186849 is

![image](https://user-images.githubusercontent.com/2273929/58720696-b9a60680-8387-11e9-90d9-ffd5397e49db.png)

the reason is the model has more than one part of on protein disulfide isomerase activity.

[2019-05-31 17:17] tmushayahama commented on #4
@vanaukenk I realized that I had put the clear functionality after search button is clicked. Now I see the problem of editing a box after search.  I will remove the clear after search. The other part is the filter drawer/panel idea was to serve it as a search summary as well and the search panel for new input only. Should I add search summary as well on the search drawer? Where do you think?

Filt

[2019-06-03 14:02] vanaukenk commented on #4
@tmushayahama
Yes, I think a search summary would be really helpful to curators.
Can we fit it across the top of the table where the 'Filtered by' text currently is?

[2019-06-03 14:16] vanaukenk commented on #15
Thanks @tmushayahama
We should consult with @thomaspd wrt the two 'part of' relations.
In theory, one MF could be a sub-function of another and curators could use the 'part of' relation between them, but we don't have that modeled in the Noctua form, yet.

[2019-06-03 20:20] vanaukenk commented on #4
@tmushayahama
For clearing the filter boxes, it looks like clicking on the 'x' clears the selected value, but not the original text I typed in.  Can clicking on the 'x' clear the entire box?  Otherwise, the curators will need to additionally remove their typing.

I see the same thing when I clikc on the 'Clear' button at the bottom of the list of filters.

Thx.

![image](https://user-images.github

[2019-06-03 20:52] vanaukenk opened #17 "Alphabetize list in 'Filter by Group'"
@tmushayahama
Can the groups in the 'Filter by Group' list be sorted alphabetically?
This makes it much easier to find the group(s) you're looking for.

Thanks!

[2019-07-16 19:30] vanaukenk opened #18 "Default display after search should show 'enabled by' entity"
When curators perform a search, the default display in the table should start with each 'enabled by' GP.

Curators are used to looking at annotations from a gene-centric point-of-view, so will want to be able to see each matching gp when they expand the model.

[2019-08-13 17:13] vanaukenk commented on #13
Need to test that search numbers return the correct number of models in any given state.

[2019-08-13 17:17] vanaukenk commented on #13
See: https://github.com/geneontology/minerva/issues/235

Due to the large number of models and the fact that we want a count without pagination, we think the counts should be computed on the server, i.e. minerva.

It could also be done as a separate query.

[2019-08-13 17:21] vanaukenk commented on #10
For link out to AmiGO, see: https://github.com/geneontology/noctua-form/issues/5

[2019-10-03 21:52] tmushayahama opened #19 "Using noctua-search component"

[2020-04-24 21:07] vanaukenk commented on #13
This is implemented on the new Noctua landing page, so I am closing the ticket.

[2020-04-24 21:07] #13 closed

[2020-08-24 17:33] lpalbou opened #21 "ART - general overview of developments (in progress - will add specific references to tickets)"
This ticket is to reference and keep track of the different developments to create ART, the bulk edit UI of GO-CAMs.

The ART mockup can be find here: https://drive.google.com/file/d/15gIJ85SAHzd6uCO-g7dmpHP-t1yJVt3f/view?usp=sharing

# UI part
- [x] **build the UI based on the mockup above** : follow the sequence of actions and the way the layout are updated after each action
- [x] **encourage di

[2020-08-28 13:38] vanaukenk commented on #21
@ukemi and I reviewed the UI and workflow.  It looks good, but we have a few comments and questions to discuss on the 2020-08-28 call:

**Encourage directional workflow**
- We anticipate that steps 1 and 2 would actually be reversed, i.e. curators would perform their search first and then activate review mode.
- We’re not sure that automatically closing the left search panel is always desirable in

[2020-08-28 21:47] lpalbou commented on #21
Following our discussion today:

* No issue in doing step 1 -> step 2 or step 2 -> step 1. The "Annotation review" button will be here and can be triggered either way

* closing left search panel: we reached the conclusion that as long as we are showing the actual search parameters in the bar of the landing page, we'll be fine. The concern was to keep an eye on what was the original query

* agree

[2020-09-02 23:39] tmushayahama commented on #1
Is this still required?

[2020-09-02 23:40] tmushayahama commented on #5
This has been fixed on the landing page

[2020-09-02 23:47] tmushayahama commented on #14
@vanaukenk This is related to the issue https://github.com/geneontology/noctua-form/issues/80 . But this is no longer applicable here as no inline view. However, double check the https://github.com/geneontology/noctua-form/issues/80 ticket for nested CCs and also for multiple has outputs and has inputs in one activity.

[2020-09-02 23:57] tmushayahama commented on #15
@vanaukenk @lpalbou This is still an issue. but this might be a ticket for landing page.

But the second part of the issue is with ART is that Noctua Form doesn't truly represent a noctua model. So in this case, do I replace what NF is seeing, has parsed or what the model has.

As an example let's say an reference on a "_directly provides input for_" or any edge or info  NF doesn't read or sub fun

[2020-09-02 23:57] tmushayahama commented on #17
This was fixed on landing page

[2020-09-03 18:30] vanaukenk commented on #21
@lpalbou @ukemi

David and I discussed the specific points above and here are our thoughts:

1) For the different colors, David suggests just trying some contrasting colors of your choosing in the prototype and we'll see how it looks.  Maybe something like 'Banana' to 'Tuscany' to 'Fire'?  https://graf1x.com/shades-of-yellow-color-palette-chart/

2) For restricting find and replace to the same ont

[2020-09-03 18:36] vanaukenk commented on #17
Thanks @tmushayahama
I'll close this ticket.

[2020-09-03 18:36] #17 closed, assigned to tmushayahama

[2020-09-03 18:45] vanaukenk commented on #15
@tmushayahama
Let me review these models again and get back to you.  We may need to split this out into separate tickets.

[2020-09-18 20:46] vanaukenk opened #23 "Improve model selection workflow to keep model metadata visible"
From 2020-09-18 call:

When selecting models to review, once the first model is selected the resulting new window covers up some or all of the model metadata listed in the landing page table. (Screenshot from @vanaukenk 15" MacBook)

![image](https://user-images.githubusercontent.com/1730534/93643387-ec856b00-f9cd-11ea-8abf-a5d1ec26a01c.png)

It seems we have at least two options for improving thi

[2020-09-18 20:47] vanaukenk opened #24 "Decide on ART window behavior when selecting models to review"
From 2020-09-18 call:

When selecting models to review, once the first model is selected the resulting new window covers up some or all of the model metadata listed in the landing page table. (Screenshot from @vanaukenk 15" MacBook)

![image](https://user-images.githubusercontent.com/1730534/93643387-ec856b00-f9cd-11ea-8abf-a5d1ec26a01c.png)

It seems we have at least two options for improving thi

[2020-09-18 20:49] vanaukenk commented on #23
Dup of #24 - maybe due to github 404 error?
Closing

[2020-09-18 20:49] #23 closed, assigned to tmushayahama

[2020-09-18 20:57] vanaukenk opened #25 "Display title only when first adding models to ART; add option to expand all"
From 2020-09-18 call:

When adding models to ART, initially display the title only, as the list of models added could get long and if model annotations are open by default, it will be difficult for curators to keep track of what they're adding.

![image](https://user-images.githubusercontent.com/1730534/93643387-ec856b00-f9cd-11ea-8abf-a5d1ec26a01c.png)

We should, however, provide an 'expand all'

[2020-09-18 21:12] vanaukenk opened #26 "Remove any default terms from search box when no ontology is selected"
From 2020-09-18 call:

![image](https://user-images.githubusercontent.com/1730534/93645326-c4980680-f9d1-11ea-83cc-681d63dd7f90.png)

For example, the natural killer and NK cell entries in the screenshot above.

[2020-09-18 21:17] vanaukenk opened #27 "Clicking on the 'up' or 'down' arrow should always display the match in the ART window"
From 2020-09-18 call:

When a user uses the up and down arrows to find the matches to the search criteria, the match should always appear in the ART window.

In the screenshot below, I've clicked on the arrow, but they match isn't shown:

![image](https://user-images.githubusercontent.com/1730534/93645776-cc0bdf80-f9d2-11ea-9922-fe7c47930d67.png)

[2020-09-18 21:25] vanaukenk commented on #27
Note that the same behavior should happen when clicking on 'Replace'.

The matching, and now updated term, should display in the ART window.

[2020-09-18 21:28] vanaukenk opened #28 "Add an 'x' to the matched term in the search and replace box to easily clear the values"
From 2020-09-18 call:

To allow users to easily clear the values in the search and/or replace box, add an 'x' like we have for the filtering:

![image](https://user-images.githubusercontent.com/1730534/93646483-4c7f1000-f9d4-11ea-83bf-ca283616240f.png)

[2020-09-18 21:46] vanaukenk commented on #25
A related issue is how to help curators keep track of what model they're scrolling if there are a lot of annotation lines.

We discussed some options:

1. Highlighting the model title in the landing page table
2. Fixing the model title somehow to the top of the relevant box in ART

Other options?

[2020-09-18 22:00] vanaukenk opened #29 "Add a more descriptive change summary to the review changes pop-up window"
From 2020-09-18 call:

We need to decide exactly what information should be displayed in the summary pop-up window and how it should be displayed.

![image](https://user-images.githubusercontent.com/1730534/93648318-7c301700-f9d8-11ea-905f-2b169dd8a5a7.png)

I like the conciseness of the term -> term display, but we should include each gene or gene product affected and also display the IDs of any

[2020-10-02 21:21] vanaukenk opened #30 "Modifications to initial ART prototype"
Based on 2020-09-30 and 2020-10-02 workbenches calls:

@tmushayahama Here's what I have on my list.  I've tried to check off ones you've already addressed.

Feel free to add more if I've missed anything.  Thanks!

- [x] Remove toggle button to the right of Annotation Review Tool

- [x] Replace Annotation Review Tool text with just Annotation Review in menu option

- [x] Indicate that Annotation Re

[2020-12-04 17:58] vanaukenk commented on #30
- [x] Change position/order when new models are added so that the newest added (wrt time) is at the bottom, rather than the top, of the list in the review table

- [x] Change numbering of matches in the annotation review box to start from 1

- [x] When stepping through results, have the table scroll so that the activity unit (or BP or CC only) is at the top of the table field

- [x] Sort matching

[2020-12-04 18:28] vanaukenk commented on #30
- [x] Add arrows to go to the first match or the last match

- [x] Add horizontal scroll bar back to table

- [x] If the curator attempts to remove a model that has pending changes from the list, create a pop-up to ask them if they want to save the changes, reset, or cancel remove model.  If no pending changes, confirm that they want to remove the model.

- [x] Add scroll bar to ontology field to

[2020-12-07 23:59] tmushayahama commented on #30
@vanaukenk @lpalbou for model errors, I can only get it after I have opened the model. There is no minerva functionality on this. It would be nice to have a flag for this on the initial search results.

[2020-12-08 14:13] vanaukenk commented on #30
Thanks for the update @tmushayahama
I agree that it'd be helpful to have a flag for models with errors.  We can discuss further on one of our workbenches calls.

I also update this ticket  https://github.com/geneontology/noctua-landing-page/issues/32 with your comment above.

[2020-12-17 16:15] vanaukenk commented on #30
A few additional tweaks after discussion on the 2020-12-16 workbenches call:

- [x] Add a pop-up window to alert curators if they have unsaved work before logging out.  The pop-up window would give them the option to NOT save any changes and clear the selected list, OR return to the ART workbench to review and save their changes.
- [x] This is more of a landing page thing - remove the vertical lin

[2020-12-17 17:17] lpalbou commented on #30
Right, I remember that you mentioned that. While a tag should be computed per model every time it's saved, it's not done at the moment. Question: on a single page, you are showing 50 models at once. For the time being, how about having a async process running in the background and opening those models so 1) it's not blocking the UI 2) you could still display that information in the meantime ? The

[2021-02-10 17:40] ukemi opened #35 "ShEX violations"
I'm not sure that this is the correct place for this ticket, but as I test ART, I am seeing a worrying number of ShEX violations in models. If we are to use ShEX in a meaningful way, we need to address these sooner rather than later. Otherwise they will become like the boy who cried wolf. Many of them seem to be arising because entities cannot be found. we need to have systematic ways of identifyi

[2021-02-10 17:46] vanaukenk commented on #35
@ukemi
Is it possible that these are actually issues with NEO?  If so, let's put a ticket in the NEO tracker.

[2021-02-10 17:49] ukemi commented on #35
There is already one there for the missing mouse anatomical structures. But some seemed to be obsolete evidence codes and just general weirdness that was difficult to interpret.
It's a catch 22. I would be curious to see how many of these are resolved once NEO works, but I doubt the obsolete or merged terms will be handled. As I said, I'm not sure which tracker this belongs, but it is concerning t

[2021-02-10 17:52] balhoff commented on #35
@ukemi is any of it related to CHEBI? We have some issues there with not including all the terms people have used in models. We should probably just include all of CHEBI; to be honest I can't remember what the push back was.

[2021-02-10 18:02] ukemi commented on #35
The ones I've seen are what appear to be obsolete or merged evidence codes (??). Missing anatomical structures (EMAPA). Missing EMAPA is from a previous QC of imports, not ART. I think there are cases where annotation rules have changed over time, but the older models are failing. I'd like to know how many production models fail and get a feeling for the kinds of errors that we are seeing. I haven

[2021-02-10 18:12] ukemi commented on #35
I just tracked down one of the EMAPA identifiers and it looks like it is an alt ID issue.

[Term]
id: EMAPA:18535
name: spleen primordium
namespace: anatomical_structure
alt_id: EMAPA:18659
synonym: "splenic primordium" EXACT []
relationship: ends_at TS23 ! TS23
relationship: part_of EMAPA:17025 ! dorsal mesogastrium
relationship: part_of EMAPA:18765 ! hemolymphoid system
relationship: starts_at T

[2021-02-10 18:20] balhoff commented on #35
Just to head off (frequent) confusion; this is go-lego. go-lego includes all of NEO (which is just the OWL-ified gene terms from GPIs/GAFs). go-lego also includes (portions of) all the various domain ontologies.

[2021-02-10 18:23] ukemi commented on #35
Thanks @balhoff. I was indeed confused by that. I thought NEO was all entities used by Noctua.

[2021-02-19 20:40] vanaukenk commented on #30
From 2021-02-19 workbenches call, priorities for development before release to production:

- [x] 1. Reconcile model search results as displayed in 'Results' vs actually enumerated in the table (this is an [NLP issue](https://github.com/geneontology/noctua-landing-page/issues/33)) - Note this ticket has been transferred to the minerva tracker: https://github.com/geneontology/minerva/issues/370

-

[2021-03-24 19:57] vanaukenk commented on #24
Closing this ticket, as we've developed a workflow that addresses this issue.

[2021-03-24 19:57] #24 closed, assigned to tmushayahama

[2021-03-25 16:45] vanaukenk commented on #27
This has been addressed in v1 of ART.

[2021-03-25 16:45] #27 closed, assigned to tmushayahama

[2021-04-05 16:51] lpalbou opened #36 "Comments following deployment on dev"
First, overall looks great and glad to see that finally on dev.

## Things to fix / discuss
1. When there are no activities, like in this model, show a message stating so, otherwise it could feel like there was some errors while loading the model

![Screen Shot 2021-04-05 at 9 22 02 AM](https://user-images.githubusercontent.com/24249870/113597318-638ff300-95f0-11eb-8d8a-eed67203b5f1.png)

2. the h

[2021-04-05 19:40] tmushayahama commented on #36
For Number 3)
Separating the Activities into group is not idea because the GPs are sorted alphanumerical. And its easy to visualize your GPs. @vanaukenk @vanaukenk can comment more on this.

The "activities bar" is there for the menu on the right side and clear separation between model list and model's contents list. I can decrease height to 30px.

[2021-04-05 19:47] tmushayahama commented on #36
As for number 6) The reasoning was if you clear list nothing will be changed, it's like unselecting model. Neither "undo" or "save" will happen. It will just remove it from the basket untouched. The idea is because if you select someone's already edited model, we don't want to force save or undo just to unselect it

[2021-04-05 19:54] tmushayahama commented on #36
I agree with the other issues especially 4 and 5, the workflow is not too smooth. We can discuss it soon if its only UI and quick fix for V1?

[2021-04-05 19:55] tmushayahama commented on #36
Also we have to revisit the popups wording so they are all clear to what will happen (number 6)

[2021-04-05 19:57] lpalbou commented on #36
For 6:
<img width="486" alt="Screen Shot 2021-04-05 at 12 49 48 PM" src="https://user-images.githubusercontent.com/24249870/113619105-69e09800-960d-11eb-8a7e-547ac494c5dc.png">

So the second sentence is wrong; all your changes are actually saved but not stored. So nothing that was done was lost or reset, which may be an issue. Probable resolution: change the text, possibly change the actions too,

[2021-04-06 01:37] tmushayahama commented on #36
We will need more discussion on this. I think that bar should not be removed.
1) It is a divider to know that one is inside the a model or list of models as the model title and activity titles looks the same
2) The menu on the right contains more things that just the 2 options and I don't think keyboard and mouse shortcut binding is a way to go.
3) Most importantly, it is also a status bar like lo

[2021-04-12 20:38] lpalbou commented on #26
Question: could it be the autocomplete we created, when nothing has been entered before, to give a quick access to all the terms used in the selected model ? We also mentioned that for noctua form. @tmushayahama  ?

[2021-04-12 20:59] lpalbou opened #37 "Closure for bulk edit of "Gene Product""
Currently, when looking for Gene Product, one can only find gene product. However models also contains small molecules such as CHEBI (here calcium oxalate):

<img width="829" alt="Screen Shot 2021-04-12 at 1 59 11 PM" src="https://user-images.githubusercontent.com/24249870/114461959-4383a500-9b97-11eb-910a-d9884e212e06.png">

**Proposal**:
* rename "Gene Product" in the UI by "Molecule" or "Entity

[2021-04-12 21:08] lpalbou opened #38 "Proper handling of With column"
The bulk search & replace mode of ART currently requires / restrict the search and the replace to terms / entities that can be resolved by GOLr. In other terms, one can NOT search or bulk replace a value in the With column as it's free text.

In the following example, if one was to search for "PMID:1234", ART would only detect the occurence in the "Reference" column, not in the "With" column. Cons

[2021-04-13 12:54] vanaukenk commented on #38
@lpalbou

For v1 of ART, changes to the With/From field are not in scope, but we should make that very clear to curators when they are testing and/or using ART so there are no misunderstandings.

There are a number of wider issues that need to be addressed wrt Noctua and the With/From field that would make a great future sprint.

As an aside, I can't think of a case where a curator would put a PMI

[2021-04-13 18:31] lpalbou commented on #37
For reference: gomodel:5d27d1cf00000607

http://68.181.46.17:4201/editor/graph/gomodel:5d27d1cf00000607

[2021-04-23 16:55] lpalbou opened #39 "Title search: a few improvements"
Related to our discussion on Monday:

* since the minerva API doesn't allow the search of a title with multiple keywords, the field in ART should only accept a single value (currently accept multiple values as badges, but only the first value is used for the search)

* always add "gomodel:" to a model id if the user doesn't input it. The rationale is gomodel:xxx is a CURIE, which resolves to model

[2021-04-26 20:14] lpalbou opened #40 "Removing chemical entity results from both find & replace boxes"
Currently, it's possible to find and to replace compounds / chemical entity, which also authorize a user to potentially change a GP to a compound. We don't want that.

@tmushayahama to fix by removing chemical entity results from both the find & replace boxes.

Note: the autocomplete behavior will have to be reviewed later on, when working on a sharable component across UIs

[2021-04-29 13:57] vanaukenk opened #41 "Clear list should also clear 'Find What' and 'Replace With' field values?"
This is a not a major bug and we can discuss on the 2021-04-30 workbenches call.

If I finish an ART session, clear the models list,  leave ART and then start another search and review from the NLP, when I go back to ART, the previous session's values in the 'Find What' and 'Replace With' fields are still shown.

I think it would be good to clear those two fields when a user exits ART.

[2021-04-29 14:30] vanaukenk commented on #41
If possible, also re-use the same format for displaying terms as in the NLP, i.e. a box with an x for easy clearing?

[2021-04-29 15:21] vanaukenk commented on #41
Another related behavior - when finished with an ART session and clicking on Annotation Review to return to the NLP, should all search filters also be cleared?

[2021-05-05 20:01] vanaukenk opened #42 "Pop-up window resulting from clear list after individual model save should not say 'unsaved changes'"
Hi,

Looks like we might need a new pop-up window with a different message if a user saves changes on an individual model and then clears the list.

Right now, the resulting pop-up window says that there are unsaved changes, even if the change menu has disappeared from the models list and the changed term is no longer highlighted on the table.

![image](https://user-images.githubusercontent.com/17

[2021-05-05 20:28] vanaukenk commented on #42
Actually, I think the first pop-up message above comes up regardless of where I actually saved the model(s), since if I click 'No' in the second window above and then click on Clear List, I get the same message telling me that there are unsaved changes.

[2021-05-06 18:28] lpalbou opened #43 "ART - showing errors on search tab but not review tab"
Reported by Karen Christie. The SheX errors are showing on the search tab but not review tab. It probably should behave the same and show it on both tabs.

e.g. this model doesn't show error on the review tab but did show error on the search tab:
<img width="707" alt="Screen Shot 2021-05-06 at 11 27 07 AM" src="https://user-images.githubusercontent.com/24249870/117347456-ff19bb00-ae5d-11eb-8f8d-e3

[2021-05-06 18:29] lpalbou opened #44 "ART - double check title search"
During hands on call, Karen was looking at PMID-27340223-krc . On her spreadsheet, there was two models with that same title (the second one having a bit more info). Double check if noctua dev had both models or only one.

[2021-05-06 18:31] lpalbou opened #45 "ART - browser search"
Some users want to use the browser search (Ctrl+F / Cmd+F).

On chrome I didn't have any issue, but it seems on firefox, Karen was not able to search for her PMID which was visible on the page.

My guess is that the focus was not on the correct section of the page, maybe on the left panel ? It's still a very strange behavior. @tmushayahama ideas ?

This search/highlight was only working after clic

[2021-05-06 19:18] ukemi commented on #45
I just repeated on Firefox making sure my focus was on the main window. It didn't scroll to the term.

[2021-05-07 01:12] tmushayahama commented on #45
This is a very special case and not on the todo list for now. I think for now one has to manually scroll to view highlighted text if they wish to use the browser find. This text search is outside the scope of ART or landing page as sometimes.

[2021-05-07 01:49] lpalbou commented on #45
Well I am not about over prioritizing but I do believe it’s a fair and probably rather frequent use case so I would prefer Kimberly and David to decide wether it’s a must or nice to have for a v1.

I believe upon the async loading of the table, and after a search with left panel, you should be able to set the focus there.

I am actually a bit confused as to why this would be needed in the first pl

[2021-05-07 12:18] ukemi commented on #45
I agree with you both. Although noted, it is certainly not a show stopper and can be in our sights with a lower priority. If we decide to address it I think (you're going to be shocked) that we should do a systematic test of the most common browsers to see which have the behavior and which do not. Then go from there. But I repeat, I think this should be a lower priority item.

[2021-05-14 14:37] vanaukenk commented on #45
I don't think this needs to be completed for release of ART v1.
I'd like some more input from @tmushayahama and @lpalbou about the effort that might be needed to address it in a future release, though.
I only test on Chrome, but we've talked in the past about how extensive we should test wrt different browsers.
In all our Noctua documentation, we should be very clear about what browsers we test an

[2021-05-14 14:49] vanaukenk commented on #45
I added some text to the first page of ART documentation about browser testing and support.  Let's review today.
https://docs.google.com/document/d/1Yo2O7LWj1wdRGbbOlaxX_AFDl99T-P59JOf5YoebX0Q

[2021-05-14 14:54] lpalbou commented on #45
The global testing of ART on multiple browsers should be done indeed and then we can mention in the doc “tested on XX and YY”. Depending of the depth of testing and targeting safari (OS X), Firefox and chrome (OS X + windows) and edge + IE (windows) would probably take around 2 days.

As for fixing that focus issue, I will let Tremayne speak. IMO not so long as it’s a question of selecting the tab

[2021-05-14 14:57] vanaukenk commented on #44
If I search with the PMID on noctua or noctua-dev using the Reference field, I get four models returned:

![image](https://user-images.githubusercontent.com/1730534/118289112-0286f500-b4a3-11eb-92a3-4278d8d07a36.png)

I'd need more info from Karen about exactly what the expected model titles are so we can see what the issue is here.

[2021-05-14 17:45] vanaukenk commented on #44
@lpalbou checked the models repository and there are two models with PMID:27340223 in the title, although one has a ':' and one has a '-' between 'PMID' and the identifier.
We still need to investigate further to understand, though, why both models cannot be returned from either a title or reference filter from the Noctua landing page.
@lpalbou and @tmushayahama have some theories; it could be rel

[2021-05-14 17:48] vanaukenk commented on #43
Decision for now: suppress the error messages on the Noctua landing page for production, but keep on noctua-dev so that we can work on the content of the messages, and the ShEx itself, for a future release.

[2021-05-14 18:11] vanaukenk commented on #28
@tmushayahama will add an 'x' to the Find What and Replace What fields, but clicking on one will clear the other so we maintain the requirement that terms can only be replaced by terms from the same aspect of the ontology.

[2021-05-14 18:40] lpalbou commented on #44
Ok turns out the model 468 was deleted...
https://github.com/geneontology/noctua-models/blob/11e35492993c59eae3856bafc22aa3105ff223cd/models/5900dc7400000468.ttl#L10

Hence not ingested in Noctua, and not searchable as it should... closing this issue as everything is working as expected. @vanaukenk or @ukemi to report back to Karen.

[2021-05-14 18:40] #44 closed, assigned to tmushayahama

[2021-05-21 14:57] vanaukenk commented on #41
This looks to be working fine except for when I Clear List from the pop-up window after submitting changes.  We can discuss the desired behavior on today's workbenches call.

[2021-05-21 15:33] vanaukenk commented on #45
Decision made on 2021-05-14 call: we will not address this issue for v1 ART.
@tmushayahama will look into it for a possible future fix.

[2021-05-26 20:48] #28 closed, assigned to tmushayahama

[2021-05-26 20:50] #42 closed, assigned to tmushayahama

[2021-05-26 20:54] vanaukenk commented on #25
Default table display currently is to list the model title, gene/gene product, and type of annotation, i.e. Activity Unit, BP Annotation, CC Annotation.

[2021-05-26 20:54] #25 closed, assigned to tmushayahama

[2021-05-28 17:54] #21 closed, assigned to vanaukenk, goodb, tmushayahama, kltm, ukemi, lpalbou

[2021-05-28 17:58] #30 closed, assigned to tmushayahama

[2021-06-10 12:44] ukemi opened #46 "Bug in saving models?"
This morning I went to the landing page and:

1. Searched on PMID:16199276- It returned one model
2. Switched to ART and added that model to my basket
3. Clicked on my basket and used the search and replace tool to find PMID:16199276.- The tool found two examples.
4. Clicked on 'replace all'- the tool looked like it worked
5. Clicked on 'review changes' - the summary said no changes were made
6. C

[2021-06-18 18:12] vanaukenk commented on #46
From 2021-06-18 workbenches call:

Create test models to try to replicate this behavior.

[2021-07-14 00:27] hdrabkin opened #47 "Model made in graph editor will not load into ART or Form"
gomodel:5fce9b7300002524

We know there are several errors with incorrect PMID (PMID: 28581022 ) used for annotation to Il17a, Il17ra, Notch1, and Traf3ip2 that need to be corrected, which would be easier in ART, but it will not load.
We can see gpad output from graphic view, but cannot get annotation preview
The annotations are coming into the MGI gpad and load into MGI

Is there something specif

[2021-07-14 05:37] tmushayahama commented on #47
Hi @hdrabkin thanks for reporting the issue, I just checked and its loading the model as below. However there are few problems to address to @ukemi @vanaukenk @lpalbou . It seems like all the GPs in this particular model do not have root types, i.e **not** information biomacromolecule nor any CHEBI. Maybe they are not loaded in NEO. Also as you can see, some MGI ids are not resolved into their res

[2021-07-14 12:15] ukemi commented on #47
@vanaukenk It seems like we should move this to the NEO tracker?

[2021-07-14 13:30] hdrabkin commented on #47
I mentioned the PMID because THAT is what Dmitry tried to fix because it's not the  correct PMID; the annotations have loaded into MGI; we wanted to fix the PMID using ART but could not.

[2022-02-28 14:10] ukemi commented on #46
I just replicated this behavior for my curator training documentation and the bug still exists.

[2022-03-18 14:41] vanaukenk commented on #46
I just tested this and it seemed to be working okay, so we should review the workflow just in case there were differences.

Test model:  http://noctua.geneontology.org/workbench/noctua-form/?model_id=gomodel%3A622aace900000809

[2022-06-28 11:24] pgaudet commented on #4
This seems to work for me

Ca we close @vanaukenk ?

[2022-06-28 13:13] vanaukenk commented on #4
This one is done.

[2022-06-28 13:13] #4 closed

[2022-07-01 18:01] krchristie opened #48 "not able to change CL term in ART"
Hi,

MGI had an error report for use of invalid properties (extensions):

I tried to use ART to change all three instances of CL:0008029, **inhibitory neuron**, at one time.

**Step 1 - Search** - worked to find all 3 models that contain the reference **PMID:32633719**:
![searchByPMID-3models](https://user-images.githubusercontent.com/10533218/176945823-4c6844d5-130e-4f8c-92f3-12dfc16c1500.png)

*

[2022-10-20 14:33] ukemi opened #49 "Add a functionality to select all models after filtering in ART"
I thought this feature existed, but I don't see it. After doing a search/filter, allow the User to select all of the models that have been returned instead of having to go through and select each one individually by checking the boxes at the left.